/**
 * Variables
 * ----------------------------------------------------------------------------
 */

/* Colors */
$alabaster: #fafafa;
$gallery: #ededed;
$gray: #818181;
$mine-shaft: #333333;
$picton-blue: #22b3eb;
$silver: #c6c6c6;
$tundora: #474747;
$white: #ffffff;
$darcula: #EE9100;
$darcula-yellow: #FFD500;
$darcula-blue: #6FAACE;
$darcula-text: #E3E3E3;
$darcula-string: #03C40F;
$py-yellow: #FBFF00;






